
/* Your CSS Code here. */
body{
	margin:0px;
	padding:0px;
}
 p{
            width: 300px;
	
            margin: 20px;
            border: 15px solid blue;
            padding: 50px;
            color: lightblue;
        }